.wpcf7 {
    form {
        .wpcf7-response-output {
            margin: 2em 0 0;
            padding: 0.25em 0.75em;

            .js & {
                display: none;
            }
        }
    }

    &-not-valid-tip {
        margin-top: 0.5em;

        .js & {
            display: none;
        }
    }

    &-spinner {
        vertical-align: middle;
        margin-left: rem(12px);
        margin-right: 0;
    }
}

.form {
    max-width: rem(640px);
}

fieldset {
    margin-bottom: rem(30px);

    @include respond-above(md) {
        margin-bottom: rem(40px);
    }

    &:last-child,
    &:last-of-type {
        margin-bottom: 0;
    }
}

.field {
    &--ifl {
        position: relative;
    }

    &--inline {
        display: grid;
        grid-column-gap: rem(8px);
        justify-content: flex-start;
        align-items: center;

        > * {
            grid-row: 1;
        }
    }

    fieldset & {
        margin-bottom: rem(20px);

        @include respond-above(md) {
            margin-bottom: rem(30px);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

label {
    display: block;
    margin-bottom: rem(4px);
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;

    &:last-child {
        margin-bottom: 0;
    }

    .field--ifl & {
        .js & {
            position: absolute;
            top: rem(2px);
            left: rem(2px);
            right: rem(2px);
            z-index: 1;
            margin-bottom: 0;
            padding: rem(13px) rem(12px) rem(5px);
            line-height: 1;
            font-size: rem(13px);
            font-weight: $font-weight-base;
            color: $blue;
            background-color: $off-white-dark;
            border-top-left-radius: rem(4px);
            border-top-right-radius: rem(4px);

            @media (prefers-contrast: more) {
                background-color: $white;
            }
        }
    }

    .field--inline & {
        grid-column: 1;
        margin-bottom: 0;
    }
}

input[type="email"],
input[type="text"],
textarea {
    width: 100%;
    padding: rem(12px);
    line-height: $line-height-base;
    font-size: $font-size-base;
    background-color: $off-white-dark;
    border: rem(2px) solid $off-white-dark;
    border-radius: rem(4px);
    transition: border-color $transition-base;

    @media (prefers-contrast: more) {
        background-color: $white;
        border-color: $black;
    }

    &:focus {
        border-color: $blue;
        outline: none;
    }

    &[aria-invalid="false"] {
        &:focus {
            border-color: $success;
        }
    }

    &[aria-invalid="true"] {
        //
        // TODO: Improve these ridiculously terrible selectors
        //
        .form.invalid &.wpcf7-validates-as-required,
        .form.invalid &:not(.wpcf7-validates-as-required):not(:empty),
        &[data-had-input="true"]:not(:focus),
        &[data-input-was-valid="true"] {
            border-color: $warning;
        }
    }

    .field--ifl & {
        .js & {
            padding-top: rem(31px);
            padding-bottom: rem(8px);
        }
    }

    //
    // Input placeholder styling
    &::-webkit-input-placeholder {
        color: $gray;
    }

    &::-moz-placeholder {
        color: $gray;
    }

    &::placeholder {
        color: $gray;
    }
}

input {
    //
    // Reset default :invalid styles.
    // General (IE, maybe more)
    &:invalid {
        outline: none;
    }

    // Gecko
    &:-moz-ui-invalid {
        box-shadow: none;
    }

    //
    // Autocomplete styling for WebKit-based browsers.
    &:-webkit-autofill,
    &:-internal-autofill-selected {
        box-shadow: 0 0 0 1000px $off-white-dark inset; // Equalling <input> height should suffice?

        @media (prefers-contrast: more) {
            box-shadow: 0 0 0 1000px $white inset;
        }
    }

    .field--ifl & {
        .js & {
            height: rem(69px); // Setting a fixed height is sadly the only way to guarantee consistent appearance across browsers.
        }
    }

    .field--inline & {
        grid-column: 2;

        &[inputmode="numeric"] {
            width: rem(64px);
        }
    }
}

textarea {
    display: block;
}

.btn {
    display: inline-flex;
    align-items: center;
    width: auto;
    padding: rem(14px) rem(22px);
    text-decoration: none;
    font: $font-weight-base $font-size-base/1 $headings-font-family;
    color: $white;
    background-color: $blue;
    border: none;
    border-radius: rem(100px);
    transition: 0.2s ease-in-out;
    transition-property: background-color, box-shadow;

    &:hover {
        &:not(:disabled) {
            background-color: darken($blue, 5%);
        }

        &:disabled {
            cursor: default;
        }
    }

    &:focus {
        box-shadow: 0 0 rem(8px) rem(2px) rgba(0, 0, 0, 0.2);
        outline: none;
    }
}

// .toggle {
//     position: relative;
//     width: 52px;
//     height: 32px;
//     background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
//     border: 2px solid #474755;
//     border-radius: 16px;
//     transition: all 0.2s ease;
//
//     @at-root input.toggle {
//         cursor: pointer;
//         -webkit-tap-highlight-color: transparent;
//
//         &:focus {
//             outline: none;
//         }
//     }
//
//     &[type="checkbox"] {
//         appearance: none;
//     }
//
//     &:checked {
//         border-color: #654FEC;
//     }
//
//     &::after {
//         content: "";
//         position: absolute;
//         top: 2px;
//         left: 2px;
//         width: 24px;
//         height: 24px;
//         background: white;
//         border-radius: 50%;
//         box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
//         transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
//
//         @at-root .toggle:checked::after {
//             transform: translatex(20px);
//         }
//     }
// }
