.wpcf7 {
    form {
        &.has-wpcf7mc {
            .no-js & {
                position: relative;

                &::after {
                    content: "JavaScript must be enabled to use this form.";
                    position: absolute;
                    top: rem(-8px);
                    bottom: rem(-8px);
                    left: rem(-8px);
                    right: rem(-8px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: rem(16px);
                    text-align: center;
                    color: $white;
                    background-color: rgba(0, 0, 0, 0.9);
                }
            }
        }
    }
}

#wpcf7mc-label {
    [data-wpcf7mc-generating] > & {
        @extend .visually-hidden;
    }
}

#wpcf7mc-loader {
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
}
